# Cloudflare Worker API for Contact Form
NEXT_PUBLIC_WORKER_URL=

# Search Engine Console Verification
# 1. Google Search Console: Paste your content verification string here (e.g., google-site-verification=YOUR_KEY)
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=


# 2. Bing Webmaster Tools: Paste your verification code here (msvalidate.01)
NEXT_PUBLIC_BING_SITE_VERIFICATION=

